.container-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 20px;
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    & .color-box-text {
      color: $text-color;
    }
    &.base-color {
      background-color: $base-color;
    }
    $i: 1;
    @while $i <= 4 {
      &.darken-#{$i} {
        background-color: color.adjust($base-color, $lightness: -($i * 10%));
      }

      &.lighten-#{$i} {
        background-color: color.adjust($base-color, $lightness: $i * 10%);
      }
      $i: $i + 1;
    }
  }
}
